.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 20px;
    color: #49557e;
    cursor: pointer;
}